<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои авторы</title>
</head>
<body>
<h1>Авторы, к которым вы имеете доступ!</h1>
<table class="authors" border= "2">
    <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.firstname}">Fisrtname</td>
        <td th:text="${author.lastname}">Lastname</td>
    </tr>
    </td>
    </tr>
    </tbody>
</table>
<a href= "/">На главную</a>
</body>
</html>