<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form method= "post" action="/login">
        <label for="inputUsername">Login: </label>
        <input type="text" id="inputUsername" name= "username"/>

        <label for="inputPassword">Password: </label>
        <input type="password" id="inputPassword" name= "password"/>

        <br>
        <label for="inputRememberMe">Remember me</label>
        <input type='checkbox' id="inputRememberMe" name='remember-me'/>

        <br>
        <input type="submit" value="Войти"/>
    </form>
</body>
</html>